# Exclude standard Javadoc generated output files from repository language statistics
*.html linguist-documentation
*.css linguist-documentation
*.js linguist-documentation
*.json linguist-documentation

# If Javadocs are generated into folders like doc/ or docs/
doc/** linguist-documentation
docs/** linguist-documentation
**/javadoc/** linguist-documentation